<div class="row">
    <div class="col-md-12">
          <h2>Departments</h2>
          <hr />

          <table class="table">
              <thead>
                  <tr>
                      <th>Department Number</th>
                      <th>Department Name</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each departments}}
                    <tr>
                        <th><a href="/employees?department={{departmentId}}">{{departmentId}}</a></th>
                        <th><a href="/employees?department={{departmentId}}">{{departmentName}}</a></th>
                    </tr>
                  {{else}}
                        <p>no results</p>
                  {{/each}}
              </tbody>
          </table>

    </div>
</div>
